$mainColor1: #B09E99;
$mainColor2: #FEE9E1;
$mainColor3: #E1F8DC;
$mainColor4: #64B6AC;
$mainColor5: #C0FDFB;
$mainColor6: #F7D8BA;
$mainColor7: #ACDDDE;
$mainColor8: #CAF1DE;
$mainColor9: #59bd99;
$mainColor10: #4792f9;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content 
    }
}